html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: url('../img/body.jpg') no-repeat no-repeat center center / 100% 100%;
	background-size: cover;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.well {
    display: block;
}

#advertImg {
	width: 80%;
	height: 300px;
	margin: auto;
	display: block;
	border-radius: 15px;
}

#advertTitle {
	text-align: center;
}

#advertAuthor i {
	display: block;
	text-align: right;
}

#advertAction {
	text-align: center;
}

#indexPagination {
    display: block;
    text-align: center;
}

#indexAdvertPicture {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 125px;
    height: auto;
    margin-right: 35px;
}

#indexAdvertPicture img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: block;
}

#indexAdvertResume {
    display: inline-block;
}

/*************************************/
/*****		EXTERNAL SOURCES	******/

/* 
  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

.wrapper {
    text-align: center;
}

.title {
    font-size: 2em;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-transform: uppercase;
}
.title:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background-color: #fff;
}

/* Clip text element */
.clip-text {
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}
.clip-text_four {
    /*background-image: url(http://lorempixel.com/480/200/abstract/4);*/
    background-image: url(../img/title.jpg);
}