{% extends "GBPlatformBundle::layout.html.twig" %}

{% block title %}
	Ajouter une annonce - {{ parent() }}
{% endblock %}

{% block gbplatform_body %}
	<div class="panel-heading">
		<h2>Ajouter une annonce</h2>
	</div>
	<div class="panel-body">
		{{ include("GBPlatformBundle:Advert:form.html.twig") }}
	</div>
{% endblock %}