{% extends "::layout.html.twig" %}

{% block title %}
	Annonces - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
	{# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	<div class="panel panel-default">
		{% block gbplatform_body %}
		{% endblock %}			
	</div>
{% endblock %}